body {
  display: block;
  height: 100%;
  width: 100%;
}

header {
  display: block;
  height: 17.5%;
  min-height: 105px;
  width: 100%;
  background-color: #00FF00;
}

footer {
  display: block;
  height: 17.5%;
  min-height: 105px;
  width: 100%;
  background-color: #FF0000;
}

div.middle {
  display: block;
  height: 65%;
  min-height: 390px;
  width: 100%;
  background-color: #0000FF;
}

div.middle > #field {
  display: block;
  height: 100%;
  min-width: 450px;
  width: 100%;
  background-color: #000;
}
